$brand-color: #2b2e4a;
$white-color:#fff;
$red-color:#e84545;
$black-color:#2d3033;
$blue-color:#3a3e64;
$grey-color:#e8ecee;
$darkgrey-color:#868e96;
$darkblue-color:#313454;
$font-raleway:'Raleway', sans-serif;