.team{
  margin-bottom: 3.125rem;
  &-image{
    width: 100%;
    &-wrap{
      max-width: 16.875rem;
      width: 100%;
      background-size: cover;
      margin-bottom: 1.75rem;
    }
  }
  &-name{
    color:$black-color;
    font-size: 1.375rem;
    margin-bottom:.5rem;
  }
  &-position{
    text-transform: uppercase;
    color: $red-color;
    font-size: .8125rem;
    margin-bottom: 1.375rem;
  }
  &-info{
    margin-bottom: 2.875rem;
  }
}

.works{
  position: relative;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  &-info{
    display: none;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: $red-color;
    opacity: .9;
  }
  &-title{
    text-transform: uppercase;
    color:$white-color;
    font-weight: 700;
  }
  &-text{
    color: $white-color;
  }
  &-image{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    width: 100%;
    height: 100%;
  }
}

.works:hover .works-info{
  cursor: pointer;
  z-index: 11;
  display: block;
}

.works:hover .works-image{
  z-index: 10;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
}

.features{
  margin-bottom: 4rem;
  padding: 0 2.75rem;
  &-title{
    text-transform: uppercase;
    color: $black-color;
    font-weight: 700;
    margin-bottom: .75rem;
  }
  &-images{
    margin-bottom: 1.25rem;
    text-align: center;
  }
}